@using Microsoft.AspNetCore.Identity
@using RazorPagesMovie.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-page="Logout" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-page="/Account/Manage/Index" class="nav-link" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn nav-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a asp-page="/Account/Register" class="nav-link">Register</a></li>
        <li class="nav-item"><a asp-page="/Account/Login" class="nav-link">Log in</a></li>
    </ul>
}
