@page
@model AboutModel
@{
    ViewData["Title"] = "About/Credits";
}
<h2 class="text-warning">@ViewData["Title"]</h2>

<ul>
<li>The source material for the challenge is, of course, taken from
    J.R.R. Tolkien's <em><a href="https://www.amazon.com/Lord-Rings-One-J-R-R-Tolkien-ebook/dp/B007978OY6/ref=sr_1_4?s=books&ie=UTF8&qid=1525828546&sr=1-4&keywords=lord+of+the+rings">The Lord of the Rings</a></em>
     (Ballantine Books, New York. Copyright 1954-1974).</li>
<li>The distances and milestones are taken from the <a href="=http://home.insightbb.com/~eowynchallenge/index.html">
    Eowyn Challenge</a> and <a href="https://www.nerdfitness.com/blog/walking/">Nerd Fitness</a>.</li>
<li>This site uses the <a href="https://www.creative-tim.com/product/get-shit-done-kit">
    Get Shit Done UI kit</a> from <a href="https://www.creative-tim.com/">Creative Tim</a></li>
<li>Banner image downloaded from <a href="https://freerangestock.com/photos/1437/photo-details.html">Freerange Stock</a>. While it clearly doesn't resemble Mordor, there <em>was</em> a lot of journeying
    involving fields, forests, and mountains.</li>
    <li>
        Much coding was done with playlists including <a href="https://open.spotify.com/artist/5BViLZRXrRfhPDokkbYiMy?si=WEizox_BRpKicp7KH_tJNA">this Tolkienian black metal band</a>.
    </li>
<li>This site was created as part of a class project.  Yes, there are bugs -- I'm working on it.
    Source code is available on <a href="https://github.com/andrewbadolato/WalktoMordorSite">GitHub</a> if you would like to fix them.</li>
    </ul>