@page
@model WalktoMordor.Pages.track_distance.CreateModel

@{
    ViewData["Title"] = "Add Your Distance Traveled";
}

<h2 class="text-warning">Add Your Distance Traveled</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tracker.Date" class="control-label"></label>
                <input asp-for="Tracker.Date" class="form-control" />
                <span asp-validation-for="Tracker.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tracker.Distance" class="control-label"></label>
                <input asp-for="Tracker.Distance" class="form-control" />
                <span asp-validation-for="Tracker.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="submit" value="Create" class="btn btn-warning" />
                    <a asp-page="Index" class="btn btn-warning">Back to List</a>
                </div>
                </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
